body{
    width: 50%;
    border: 10px solid grey;
    margin: auto;
    margin-top: 10px;
}
p{

font-family: 'Source Sans Pro', sans-serif;
padding-left: 20px;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 20px;
}
.Indented{
    border-left: 10px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
}
.Date
{
    color: indianred;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
hr{
    color: lavender;
    width: 90%;
}