/* p */
/* { */
    /* border: 2px blue; */
    /* font-weight: lighter; */
    /* border: 2px solid blue; */
    /* width: 50%; */
    /* padding: 10px; */
    /* height: 100px; */
    /* margin: 10px 10px 10px 10px; */
    /* margin: 0 auto 0 auto; */
    /* margin: 0 auto; */
/* } */

/* table,th,td{
    border: 10px;
    width: 50px;
    height: 50px;
} */
/* table, th, td { */
    /* border: 1px solid black; */
  /* } */
/* td{
    border: 1px solid black;
    border-collapse: collapse;
} */
h1{
    margin: 10 auto;
    text-align: center;
    
}

table{
    margin: 0 auto;
}
td{
    padding: 50px;
    margin: 0,auto;
}

.Left{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    /* border-collapse: collapse; */
}
.Center
{
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    border-bottom: 1px solid black;
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
}
.Right
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    /* border-collapse: collapse; */
}
#Left_Bottom
{
    border-right: 1px solid black;   
}
#Right_Bottom
{
    border-left: 1px solid black;   
}