h4 {color: brown}

h1 
{
    color: rgba(255,0,255,0.8);
    background:red;
    /* border-color: azure;
    border-width: 10px;    
    border-style: dotted; */
    border: 5px solid purple;
}

body{
    background:url(https://i.pinimg.com/564x/6f/d6/8c/6fd68ced202b643053e9f281de52a016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}                  