p{
    font-family: Arial;
    font-weight: bold;
    line-height: 2;
    text-decoration: underline;
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
    text-align: center;
    text-decoration: line-through;
}
span{
    font-size: 2.0em;
}