h4 {color: brown}

h1 
{
    color: rgba(255,0,255,0.8);
    background: pink;
    border-color: purple;
    border-width: 5px;
    border-style: groove;
}

body{
    background:url(https://i.pinimg.com/564x/6f/d6/8c/6fd68ced202b643053e9f281de52a016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}                  